# ignore compiled byte code
target

# ignore output files from testing
output*
*.debug
test.py
setup.log

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ files
.idea/
*.iml
*.ipr
*.iws
venv/

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store

# ignore build files
build-revision.txt
major-revision.txt
minor-revision.txt
